Flask
Flask-Bcrypt
Flask-Login==0.4.1
Flask-Migrate
Flask-SQLAlchemy
Flask-Script
Flask-WTF
Jinja2
Mako
MarkupSafe
PyJWT ==1.4.0
SQLAlchemy ==1.3.23
WTForms
Werkzeug
alembic
argparse
bcrypt
cffi
click
gunicorn
itsdangerous
psycopg2
pycparser
python-dateutil
python-editor
six
Flask-JWT  ==0.3.2
psycopg2-binary
Unicode